<% @tweets.each do |tweet| %>
  <div class="row">
    <div class="col s12 m6">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title"></span>
          <p><%= tweet.text %></p>
        </div>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <div class="card-action">
            <a class="waves-effect waves-light btn">SHOW</a>
            <a class="waves-effect waves-light btn">EDIT</a>
            <%= link_to 'DELETE', "/tweets/#{tweet.id}", method: :delete, class: "waves-effect waves-light btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
