<div class="row">
  <div class="col s12 m6">
    <div class="card white">
      <div class="card-content white-text">
        <span class="card-title"></span>
        <p></p>
      </div>
      <div class="card-action">
        <a href="#">SHOW</a>
        <a href="#">EDIT</a>
        <a href="#">DESTROY</a>
      </div>
    </div>
  </div>
</div>
